@import "../../constants.css";

.input {
  width: 100%;
  border-radius: 8px;
  border: 2px solid var(--neutral-400-color);
  background-color: var(--neutral-200-color);
  box-sizing: border-box;
  padding: 16px 150px 16px 10px;
  transition: border-color 0.3s ease-in-out;
}

.input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.input::placeholder {
  color: var(--neutral-600-color);
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 15px;
}

.inputContainer {
  position: relative;
}

.eyeButton {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
