@import "../../constants.css";

.cardContainer {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #2b2b2b;
}

.contentContainer {
  display: flex;
  align-items: center;
  background-color: white;
  gap: 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.cardCount {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 48px;
  margin: 0;
}

.cardName {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

.cardDesc {
  font-family: "Open Sans";
  font-weight: 200;
  font-size: 14px;
  margin: 0;
}

.arrowIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: var(--neutral-300-color);
  width: 26px;
  height: 26px;
  margin-right: 20px;
}
